[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
asyncpg = "==0.17.0"
elasticsearch-dsl = "==6.2.1"
aiotg = "==0.9.9"
aioredis = "==1.1.0"

[requires]
python_version = "3.7"
